.card {
    width: 100%;
}

.card .content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.card .content .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

/* for mobile phones */
@media (max-width: 426px) {
    /* .card {
        flex-direction: column;
    } */
    
    .card .content .buttons {
        justify-content: center;
    }
}