.sideButton {
    background-color: rgba(231, 233, 235, 0.9);
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 7px;
    width: 100%;
    height: 30px;
    gap: 5px;
    box-sizing: border-box;
    align-items: center;
    text-align: left;
}

.sideButton:hover {
    background-color: rgb(204, 204, 204, 0.9);
}

.sideButton .start,
.sideButton .center,
.sideButton .end {
    display: flex;
    flex-direction: row;
}

.sideButton .center {
    flex-grow: 1;
    overflow: hidden;
}

.sideButton p {
    display: block;
    overflow: hidden;
    white-space: nowrap; /* prevent line breaks - for text-overflow */
    text-overflow: ellipsis;
    user-select: none; /* prevent the user to select/mark the text */
}